@model HotelReservationManager.Areas.Identity.Data.HotelManagerUser

@{
    ViewData["Title"] = "Delete";
}

<h1>Deactivate</h1>

<h3>Are you sure you want to deactivate this account?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Second Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Familyname)
        </dd>
        <dt class="col-sm-2">
            EGN
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EGN)
        </dd>
        <dt class="col-sm-2">
            Phone Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            E-mail
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Is Active
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            Date Of Appointment
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfAppointment)
        </dd>
        <dt class="col-sm-2">
            Date Of DateOfDismisal
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfDismissal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
